body {
    font-size: large;
    font-family: Georgia, serif;
    color: rgba(0,0,0,.84);
    margin: 0;
    padding: 0;
}

@supports (hyphens:auto) {
    p {
       hyphens: auto;
       text-align: justify;
    }
}

a {
    color: rgb(0,48,200,.84);
    text-decoration: none;
}

a.visited {
    color: rgb(0,48,200,.84);
    text-decoration: none;
}

h1, h2 h3 {font-family: sans-serif;}

.content {
    max-width: 940px;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 200px minmax(300px, 700px);
    grid-gap: 40px;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

nav {order: 1;}

.event {
  display: grid;
  box-shadow: 2px 2px 15px #ccc;
  margin: 10px;
  padding: 1em;
}

.event.next {
  border-left: 0.35em solid #FF000080;
  border-right: 0.15em solid #FF000080;
}

.event .header {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
}

.event .title {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: larger;
  text-align: center;
}

.event .date {
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: center;
  font-size: normal;
}

.event .line {
  grid-column: 1/2;
  grid-row: 4/5;
  border-bottom: 1px solid black;
}

.event .description {
  grid-column: 1/2;
  grid-row: 5/6;
}

.event .description p {
  margin: 0px;
  margin-top: 1em;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    margin-bottom: 2px;
    border-radius: 5em;
    padding: 0.15em 1.5em;
    font-family: Arial, sans-serif;
}

.menu a li { color: #000; }
.menu a.visited li { color: #000; }

.sauerkirsche p { /* this name was chosen by sandra */
  text-align: center;
}

img {
  max-width: 100%;
}

.copyright {
  font-size: smaller;
}

.osm img{
  max-width: 100%;
  height: auto;
}

#logo {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

main {
    grid-column: 2/3;
    grid-row: 1/2;
    line-height: 1.6;
    letter-spacing: .0045em;
}

.definition {
    border-left: 0.35em solid #009fff;
    border-right: 0.15em solid #009fff;
    box-shadow: 2px 2px 15px #ccc;
    padding: 1em;
    margin: 10px;
    margin-top: 18px;
}

.definition p {
    margin: 0;
}

footer {
    font-size: small;
    font-family: Arial, sans-serif;
    margin: 1em 0;
    padding: 1em;
    grid-column: 1/3;
    grid-row: 2/3;
    background: #C2C2C2;
}

footer p {
    margin: 0.5em 0;
}

.list li {
    list-style: none;
    border-bottom: 1px solid black;
}

.list li h2 {
  margin-bottom: 0px;
}

.list li:last-child {
    border-bottom: none;
}

.blog .date {
  font-size: small;
  color: #808080;
}

@media only screen and (max-width: 1000px) {
  .content {
    margin: 5px;
  }
}
@media only screen and (max-width: 700px) {
  .container {
      grid-template-columns: 200px minmax(200px, 500px);
      grid-gap: 30px;
  }
  .list {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    display: block;
  }
  .menu li {
    padding: 0.5em;
    text-align: center;
  }
  #logo {
    order:2;
    margin: 2em auto;
  }
}
