<div class="blog">
  <ul class="list">
    $for(posts)$
    <li>
      <h2><a href="$url$">$title$</a></h2>
      <div class="date">$date$</div>
      $if(teaser)$
      $teaser$
      $else$
      $body$
      $endif$
    </li>
    $endfor$
  </ul>
</div>
