<h2>The english version:</h2>
<ol>
    $for(chapters)$
        <li>
            <a href="$url$">$title$</a>
            $if(description)$
            <p>$description$</p>
            $endif$
        </li>
    $endfor$
</ol>

<h2>Die Deutsche Version:</h2>

<p>...ist noch in arbeit.</p>
