$body$

<h4>Regelmäßig statt findende Meetups:</h4>
$if(meetings)$
  <ul style="padding:0">
    $for(meetings)$
      <li style="list-style:none">
        $date$ - <a href="$url$">$title$</a>
      </li>
    $endfor$
  </ul>
$else$
  <p>Leider gibt es grade keine Meetups</p>
$endif$

<h4>Zukünftig geplante, einmalige Veranstaltungen:</h4>
$if(events)$
  <ul style="padding:0">
    $for(events)$
      <li style="list-style:none">
        [$date$] <a href="$url$">$title$</a>
      </li>
    $endfor$
  </ul>
$else$
  <p>Aktuell sind keine Veranstaltungen geplant</p>
$endif$

<p style="margin-top:48px">
  Hier geht es zum <a href="/event-archive.html">Veranstaltungsarchiv</a>.
</p>
