  <div class="event next">
   <div class="header">Aktuelle Information</div>
    <div class="title">SARS-CoV-2</div>
    <div class="line"></div>
    <div class="description">
      Wir sind aktuell wieder für Gäste geöffnet.
      Bitte achtet darauf, dass wir bis auf weiteres nur Personen Zutritt
      gewähren, die <b>geimpft</b> oder - sollte eine Impfung nachweislich aus
      medizinischen Gründen nicht möglich sein - getestet sind.<br/>
      Entsprechende Nachweise sind beim Besuch vorzuzeigen.<br/>
      Falls ihr nicht sicher seid was für Euch gilt, fragt bitte im Chat nach.
    </div>
  </div>
$body$
